.orgDash {
    background: whitesmoke;
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.org-dashboard-name {
    text-align: center;
    width:100%;
}

.profilePic{
    width: 50%;
    height: 40vh;
}

.org-main-button {
    background: #2D79B4;
    color: white;
    padding: 5%;
    height: 80px;
    width: 30vw;
    border-radius: 5%;
    margin: 0 0 1% 0;
}

.org-dash-divider{
    display: flex;
}

.org-main-button:hover {
    background: black;
    transition: 1s;
}

.org-main-events {
    /* margin-left: 10%;
    border-left: 2px solid rgb(224, 213, 213); */
    padding: 5%;    
}



@media only screen and (max-width: 360px) {
    .org-dash-side-bar {
        margin-right: auto;
        margin-left: auto;
    }

    .org-dash-side-bar h2 {
        padding: 0;
    }

    .org-main-events {
        margin: 5%;
    }

    .profilePic {
        padding-left: 0;
    }
}

@media only screen and (max-width: 800px) {
    .orgDash{
        margin: 0 10%;
    }
    .profilePic{
        width: 90%;
        height: 40vh;
    }
    .org-main-button{
        height: 70px;
        width: 60vw;
    }

.org-dash-divider{
    display:block;
    text-align: center;
}
.org-main-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

}