.create-event-form {
    width: 50%;
}
.create-event-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
}
button {
    padding: 3%;
    margin: 5%;
    border-radius: 5%;
}

.submit-cancel-buttons {
    text-align: center;
}
.submit {
    color: white;
    margin:0;
    width: 100%;
    background-color: #2D79B4;
    border:1px solid #2D79B4;
    transition: .5s;
}

.submit:hover {
    color: #2D79B4;
    background-color: white;
}

/* styling for form input areas */
input:invalid {
    border: 2px dashed red;
  }
  
input:valid {
    border: 2px solid black;
}

.event-input {
    text-align: center;
    padding: 1%;
    font-size: 1rem;
}
