
@media only screen and (min-width: 900px) {
.card{
    border: solid 1px rgba(0, 0, 0, 0.15);
    color: black;
    padding: 1vw;
    display:flex;
    flex-direction: row;
}

.search-title{
    font-size: 5vh;
    color: black;
    display: flex;
}

.search-info{
}

.search-info span span{
    color: black;
}

.search-column{
    display: flex;
    flex-direction: column;
    
}

img.search-img{
    width: 20vw;
    height: 20vw;
    margin-right: 3vw;
}

.dashHr{
    background-color: rgba(0, 0, 0, 0.185);
    height:5px;
    width: 100%;
    margin-bottom: 1vw;
}

}

@media only screen and (max-width: 900px) {
    .card{
        border: solid 1px rgba(0, 0, 0, 0.15);
        color: black;
        padding: 1vw;
        display:flex;
        flex-direction: column;
    }
    img.search-img{
        width: 20vw;
        height: 20vw;
        margin-right: 3vw;
    }

    .search-title{
        font-size: 5vw;
        color: black;
    }
    .search-description{
        display:none;
    }
    .search-info{
        display: flex;
        flex-direction: column;
        font-size: 4vw;
    }
    .search-info span span{
        color: black;
    }
    
}